<!DOCTYPE html>
<html lang="en" >
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Search Settings</title>
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
</head>
<body ng-app="SettingsApp" ng-cloak>
<div ng-controller="SearchSettingController" class="md-padding" ng-cloak>
    <!-- <div id="fb-root"> </div>
    <div layout="row">
    <fb:login-button scope="public_profile,email" onlogin="getUserInfo()" max-rows="1"
                     size="large"></fb:login-button>
    </div> -->
    <md-icon md-svg-icon="./images/settings-icon.svg"></md-icon>
    <h3 class="md-title"> Search settings</h3>
    <div>
        <md-checkbox ng-model="user.shareLocation" aria-label="Share location">
            Share location
        </md-checkbox>
    </div>
    <div>
        <div flex="10" layout layout-align="center center">
            <h1 class="md-title" >Search radius: </h1>
        </div>
        <div flex="20" layout layout-align="center center">
            <md-button ng-model="user.selectedUnits" class="md-raised md-primary">Km</md-button>
            <md-button ng-model="user.selectedUnits" class="md-raised md-secondary">mi</md-button>
            <md-input-container>
            <label>Units</label>
            <md-select ng-model="user.selectedUnits">
                <md-option>Km</md-option>
                <md-option>mi</md-option>
            </md-select>
        </md-input-container>
        </div>
        <div layout>
            <md-slider flex class="md-primary" md-discrete ng-model="user.searchRadius" step="0.1" min="0.1" max="150" aria-label="rating">
            </md-slider>
        </div>
    </div>
    <div>
        <md-checkbox ng-model="user.shareFriends" aria-label="Share friends">
            Share facebook friends list
        </md-checkbox>
    </div>
    <div>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Age</label>
            <input name="age" ng-model="user.age"/>
            <div class="hint">Required if you want to search for Pubs</div>
        </md-input-container>
    </div>
    <div>
        <md-input-container>
            <label>Diet</label>
            <md-select ng-model="user.diet">
                <md-option><em>Regular</em></md-option>
                <md-option ng-repeat="diet in diets" ng-value="user.diet" ng-disabled="$index === 1">
                    {{user.diet}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>


    <md-button class="md-raised md-primary"  ng-click="post(uid)">Save</md-button>
    <md-button class="md-raised md-secondery"  ng-click="cencel()">Cencel</md-button>

</div>

<!-- Angular Material requires Angular.js Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
<script src="https://connect.facebook.net/en_US/all.js"></script>

<!-- Angular Material Library -->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<!-- Google location library -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIFZ0tjCUja5jsW9UYJ2DxyRnziLD2wtk&libraries=places"></script>


<!-- Your application bootstrap  -->
<script type="text/javascript">

    /*function getUserInfo() {

//                    var _self = this;

        FB.api('/me','get',{fields: 'last_name,birthday,location,email,gender,age_range'}, function(res) {
//                        $rootScope.$apply(function() {
//                            $rootScope.user = _self.user = res;
            console.log('logged',JSON.stringify(res))
//                        });
        });

    }

    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
        return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }*/





            $scope.showEdit = function (index, person, ev) {
                $scope.index = index;
                $mdDialog.show({
                    controller: PersonController,
                    templateUrl: './views/editContact.html',
                    parent: angular.element(document.body),
                    targetEvent: ev,
                    preserveScope: true,
                    clickOutsideToClose: true,
                    locals: { person : this.person }
                });
            };

            function PersonController($scope, $mdDialog, $rootScope, person) {
                $scope.person = person;

                $scope.cancel = function() {
                    $mdDialog.cancel();
                };

                $scope.saveContact = function (contactInfo) {
                    $rootScope.$broadcast("contactToSave",
                        {
                            firstName: contactInfo.newFirstName,lastName: contactInfo.newLastName,company: contactInfo.newCompany,phone: contactInfo.newPhone,email: contactInfo.newEmail
                        }
                    );
                    /*exit dialog*/
                    $mdDialog.cancel();
                };

                $scope.updateContact = function () {
                    $mdDialog.show(
                        $mdDialog.alert()
                            .title('Contact has been updated!')
                            .ok('OK')
                    );
                    $mdDialog.cancel();
                };
            }










    angular.module('SettingsApp', ['ngMaterial'])
            .config(function($mdThemingProvider) {
                $mdThemingProvider.theme('default')

            })

            .controller('SearchSettingController',function($scope,$q, $http,$rootScope, $window) {
                $scope.id = $location.search().id;
                if (localstorage.hasOwnProperty('id')) {
                    $scope.user.shareLocation = localstorage.id.shareLocation;
                    $scope.user.searchRadius = localstorage.id.searchRadius;
                    $scope.user.selectedUnits = localstorage.id.selectedUnits;
                    $scope.user.age = localstorage.id.age;
                    $scope.user.shareFriends = localstorage.id.shareFriends;
                    $scope.user.diet = localstorage.id.diet;
                } else {
                    $scope.user.shareLocation = false;
                    $scope.user.searchRadius = 50;
                    $scope.user.selectedUnits = 'Km';
                    $scope.user.age = 18;
                    $scope.user.shareFriends = false;
                    $scope.user.diet = 'Regular';
                }
                 
                $scope.diets = [Regular, Vegetarian, Vegan];

                $scope.post = function(){
                        if($scope.user.shareLocation) {
                            var geocoder = new google.maps.Geocoder();

                            geocoder.geocode($scope.user.location, function (results, status) {
                                if (status == google.maps.GeocoderStatus.OK) {
                                    $scope.user.location = results[0].geometry.location.lat();
                                }
                                else {
                                    console.log($scope.user);
                                }
                            })
                        }
                        else
                        {
                            $.ajax({
                                type: "POST",
                                url: '/settings/',
                                data: $scope.user,
                                dataType: "json",
                                timeout: 15000,
                                success: function (res) {
                                    if (res.success) {
                                        $scope.submitSuccess = true;
                                        $scope.statusMessage = "Updated succesfully";
                                    }
                                    else {
                                        $scope.statusMessage = "Updated succesfully";
                                        $scope.disablePost = false;
                                    }
                                    $scope.$apply();
                                },
                                error: function () {
                                    $scope.statusMessage = "Updated succesfully";
                                    $scope.disablePost = false;
                                    $scope.$apply();
                                },
                                complete: function () {
                                    $scope.submitSuccess = true;
                                    $scope.statusMessage = "Updated succesfully";
                                    window.close()

//                            $timeout(function(){
//                                $scope.submitSuccess = false;
//                                $scope.statusMessage = "";
//                            }, 3000);
                                }
                            });

                        }

                        console.log($scope.user);
                        $scope.disablePost = true;

                    }
                });
    </script>
</script>
</body>

</html>

<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->