<!DOCTYPE html>
<html lang="en" >
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Search Settings</title>
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
</head>
<body ng-app="SettingsApp" ng-cloak>
<div ng-controller="SearchSettingController" class="md-padding" ng-cloak>
    <md-icon md-svg-icon="./images/settings-icon.svg"></md-icon>
    <h1 class="md-title"> Search settings</h3>
    <div>
        <md-checkbox ng-model="user.shareLocation" aria-label="Share location">
            Share location
        </md-checkbox>
    </div>
    <div>
        <div flex="10" layout layout-align="center center">
            <h2 class="md-title" >Search radius: </h1>
        </div>
        <div flex="20" layout layout-align="center center">
            <md-button ng-model="user.selectedUnits" class="md-raised md-primary">Km</md-button>
            <md-button ng-model="user.selectedUnits" class="md-raised md-secondary">mi</md-button>
            <md-input-container>
            <label>Units</label>
            <md-select ng-model="user.selectedUnits">
                <md-option>Km</md-option>
                <md-option>mi</md-option>
            </md-select>
        </md-input-container>
        </div>
        <div layout>
            <md-slider flex class="md-primary" md-discrete ng-model="user.searchRadius" step="0.1" min="0.1" max="150" aria-label="rating">
            </md-slider>
        </div>
    </div>
    <div>
        <md-checkbox ng-model="user.shareFriends" aria-label="Share friends">
            Share facebook friends list
        </md-checkbox>
    </div>
    <div>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Age</label>
            <input name="age" ng-model="user.age"/>
            <div class="hint">Required if you want to search for Pubs</div>
        </md-input-container>
    </div>
    <div>
        <md-input-container>
            <label>Diet</label>
            <md-select ng-model="user.diet">
                <md-option><em>Regular</em></md-option>
                <md-option ng-repeat="diet in diets" ng-value="user.diet" ng-disabled="$index === 1">
                    {{user.diet}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>


    <md-button class="md-raised md-primary"  ng-click="post(uid)">Save</md-button>
    <md-button class="md-raised md-secondery"  ng-click="cencel()">Cencel</md-button>

</div>

<!-- Angular Material requires Angular.js Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
<script src="https://connect.facebook.net/en_US/all.js"></script>

<!-- Angular Material Library -->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<!-- Google location library -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIFZ0tjCUja5jsW9UYJ2DxyRnziLD2wtk&libraries=places"></script>


<!-- Your application bootstrap  -->
<script type="text/javascript">
    angular.module('SettingsApp', ['ngMaterial'])
            .config(function($mdThemingProvider) {
                $mdThemingProvider.theme('default')

            })
            .controller('SearchSettingController',function($scope,$q, $http,$rootScope, $window) {
                $scope.id = $location.search().id;
                if (localstorage.hasOwnProperty('id')) {
                    $scope.user.shareLocation = localstorage.id.shareLocation;
                    $scope.user.searchRadius = localstorage.id.searchRadius;
                    $scope.user.selectedUnits = localstorage.id.selectedUnits;
                    $scope.user.age = localstorage.id.age;
                    $scope.user.shareFriends = localstorage.id.shareFriends;
                    $scope.user.diet = localstorage.id.diet;
                } else {
                    $scope.user.shareLocation = false;
                    $scope.user.searchRadius = 50;
                    $scope.user.selectedUnits = 'Km';
                    $scope.user.age = 18;
                    $scope.user.shareFriends = false;
                    $scope.user.diet = 'Regular';
                }
                 
                $scope.diets = [Regular, Vegetarian, Vegan];

                $scope.cencel = function() {
                    $window.close();
                }

                $scope.post = function(){
                        if($scope.user.shareLocation) {
                            var geocoder = new google.maps.Geocoder();

                            geocoder.geocode($scope.user.location, function (results, status) {
                                if (status == google.maps.GeocoderStatus.OK) {
                                    $scope.user.location = results[0].address;
                                }
                                else {
                                    console.log($scope.user);
                                }
                            })
                        }

                        localstorage.id.shareLocation = $scope.user.shareLocation;
                        localstorage.id.searchRadius = $scope.user.searchRadius;
                        localstorage.id.selectedUnits = $scope.user.selectedUnits;
                        localstorage.id.age = $scope.user.age;
                        localstorage.id.shareFriends = $scope.user.shareFriends;
                        localstorage.id.diet = $scope.user.diet;
                }
            });
    </script>
</script>
</body>

</html>